<div id="<%= dom_id tecnico %>">
  <p>
    <strong>Name:</strong>
    <%= tecnico.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= tecnico.string %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tecnico.email %>
  </p>

  <p>
    <strong>String:</strong>
    <%= tecnico.string %>
  </p>

</div>
